pre{
    white-space: pre-wrap;
}
#responseContainer {
    padding: 20px;
}
.darkModeRoot {
    background-color: black;
    color: white;
}

.containerDark {
    background-color: black !important;
}
input {
    color: black !important;
}

body {
    min-height: 100vh;
    max-width: 100vw;
}
h1 {
    font-size: 2rem !important;
}
