body.dark-mode {
    background-color: #000 !important;
    color: #fff;
}
.response-container {
    background-color: #fff;
    color: #000;
    padding: 20px;
    border-radius: 5px;
}
.custom-switch{
    float:right;
}
.loading-spinner {
    display: none;
}
pre{
    white-space: pre-wrap;
}